.header {
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  @media screen and (max-width: 960px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .header-wrapper {
    @media screen and (max-width: 960px) {
      width: 100%;
    }
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      width: 174px;
      height: 40px;
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .nav-responsive {
      display: none;
      cursor: pointer;

      & > i {
        font-size: 30px;
      }
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    & > input {
      display: none;
    }

    & > input:checked + nav.header-nav {
      display: flex;
    }

    .showNav {
      display: flex;
    }

    nav.header-nav {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 768px) {
        display: none;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;  
        background-color: #e4e4e4;
        flex-direction: column;
        padding: 20px 0;
        z-index: 100;
      }

      & > a {
        display: block;
        cursor: pointer;
        font-size: 16px;
        border: none;
        text-decoration: none;
        color: #000;

        &:hover {
          color: #d22867;
          transition: all 0.2s ease-in-out;
        }
      }

      & > a:last-child {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 2px solid #d22867;
        border-radius: 20px;
        color: #d22867;
        padding: 5px 20px;

        &:hover {
          color: #fff;
          background-color: #d22867;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
