.header {
  height: 70px;
  @media screen and (max-width: 960px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .header-wrapper {

    @media screen and (max-width: 960px) {
      width: 100%;
    }
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-logo {
      width: 174px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    div.header-nav {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-right: 10px;
      div {
        padding: 5px 20px;
        cursor: pointer;
        position: relative;

        & > p {
          &:hover {
            color: #d22867;
          }
        }

        &:hover > ul {
          display: flex;
        }

        & > ul {
          width: 100%;
          background-color: #fff;
          position: absolute;
          display: none;
          flex-direction: column;
          gap: 10px;
          top: 22px;
          left: 0;
          padding: 10px;

          & > li {
            padding-left: 10px;
            &:hover {
              color: #d22867;
            }
          }
        }
      }
      div:last-child {
        display: flex;
        gap: 5px;
        align-items: center;
        padding: 5px 10px;
        border-radius: 20px;
        border: 2px solid #d22867;
        color: #d22867;

        &:hover {
          background-color: #d22867;
          color: #fff;
          transition: all 0.3s ease-in-out;
        }

        & > p:hover {
          color: #fff;
        }
      }
    }
  }
}
